<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>844586929561-jgr6aqshe074k8asjb8eab67dui0omd3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.844586929561-jgr6aqshe074k8asjb8eab67dui0omd3</string>
	<key>API_KEY</key>
	<string>AIzaSyCzYrh4HqChbclU0vcHIvZaaH-w14nhXJY</string>
	<key>GCM_SENDER_ID</key>
	<string>844586929561</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jeeva.myAgency</string>
	<key>PROJECT_ID</key>
	<string>my-agency-b4fa4</string>
	<key>STORAGE_BUCKET</key>
	<string>my-agency-b4fa4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:844586929561:ios:6bae7fb9903f551cf2d708</string>
	<key>DATABASE_URL</key>
	<string>https://my-agency-b4fa4.firebaseio.com</string>
</dict>
</plist>